@using HospitalReceipts.Services
@inject AuthService Auth
@page "/"
<h3>Hospital Receipts</h3>
<p>Welcome to the Hospital Receipts application.</p> 
<p>Use the navigation menu to manage books, receipts, and users.</p>
@if (Auth.CurrentUser != null)
{
    <p><strong>Logged in as:</strong> @Auth.CurrentUser.UserName (@Auth.CurrentUser.Privilege)</p>
    <p> <strong><a href="/login">Logout</a></strong></p>
}
else
{
    <p><em>You are not logged in. Please <a href="/login">log in</a> to access more features.</em></p>
    
}

