@page "/pageSimulator"
@using HospitalReceipts.Data
@using HospitalReceipts.Models
@inject IJSRuntime JS

<button class="btn btn-primary me-2 btn-sm" @onclick="PrintReceipt" >Print Receipt</button>
<div id="printableArea">

    <div class="a6page">
        <div class="receipt">
            <div class="header1">XYZ Nursing Home</div>
            <div class="header2">Chatrakeri</div>
            <div class="header3">Thirthahalli</div>
            <div class="header2" style="margin-top:5px;margin-bottom:5px;">
                OP Receipts of Dr XYZ
            </div>
            <table class="receipt-table">
                <tr><td colspan="2" style="height:12px;"> </td></tr><!--Empty Row-->
                <tr>
                    <td><b>Receipt No:</b>1</td>
                    <td style="text-align:right"><b>Date:</b> 09-6-2025</td>
                </tr>
                <tr><td colspan="2" style="height:12px;"> </td></tr><!--Empty Row-->
                <tr><td class="tall-row" colspan="2">Received From: <b> Patient Name </b></td></tr>
                <tr><td class="tall-row" colspan="2">An Amount of: <b> 100.00 </b></td></tr>
                <tr><td class="tall-row" colspan="2">Towards: Op consultation </td></tr>
                
                <tr><td colspan="2" style="height:12px;"> </td></tr> <!----Empty row --->
                <tr>
                    <td></td>
                    <td style="text-align:center; border-top:1px dotted black; padding-top:5px;">
                        <b>Signature</b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@code{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("window.print");
        }
    }
    
    private async Task PrintReceipt()
    {
        await JS.InvokeVoidAsync("window.print");
    }
}

<style>
    .a6page {
        width: calc(148mm - 10mm); /* full A6 width-margins 2x5mm */
        height: calc(105mm - 10mm); /* full A6 height - margins 2x5mm */
        margin: 0 auto; /*margin 5mm introduced in At page direction*/
        padding: 5mm; /* margin between page edge and receipt */
        box-sizing: border-box;
        /*border: 1px solid #ccc;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid gray;
    }

    .receipt {
        width: 100%;
        height: 100%;
        max-width: calc(100% - 0mm); /* fits within page padding */
        max-height: calc(100% - 0mm);
        border: 2px solid black; /* visible border around content */
        background: white;
        font-family: Arial, sans-serif;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 4mm; /* inner padding for content */
        padding-right: 4mm;
        padding-top: 2mm;
    }

    .header1 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.2;
        padding: 0;
    }

    .header2 {
        text-align: center;
        font-size: 16px;
        line-height: 1.2;
        padding: 0;
    }

    .header3 {
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
        padding: 0;
    }

    .receipt-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    .tall-row {
        font-size: 16px;
        line-height: 1.8;
        padding-top: 0;
        padding-bottom: 2px;
    }
    @@page {
        size: A6 landscape;
        margin: 5mm; /* no browser default margins */
    }

    @@media print {
        /* Hide everything else except printableArea */
        body * {
            visibility: hidden; /* hide everything */
        }

        #printableArea, #printableArea * {
            visibility: visible; /* only show printable area */
        }

        #printableArea {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>

